.shared-project-cover-photo-container {
  position: relative;
}

.shared-project-cover-photo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 200px;
}

.shared-project-show-cover-image {
  background-size: cover;
  background-position: center;
}

.shared-project-show-cover-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.shared-project-show-cover-image-dark:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  opacity: 0.4;
  content: " ";
}

