.story-container {
  position: relative;
}

.story-card-body {
  position: relative;
}

.story-project-cover-photo-container {
  margin: 10px 0 0 0;
  height: 100px;
}

.story-project-cover-photo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
