.general-sidebar#company-sidebar
  #company-sidebar-items.list-group
    /= active_admin_link "Dashboard", company_dashboard_path, class: "list-group-item"
    = active_admin_link "Browse Users", company_browse_users_path, class: "list-group-item"
