.row
  .col-md-6
    .row
      .col-md-12
        .user-profile-sections#user-profile
          = render partial: "users/profile", locals: { user: user, user_profile: user.profile, is_editing: is_editing }
          - unless is_company
            = render partial: "users/profile/resume", locals: { user: user, is_editing: is_editing, is_company: is_company }

  .col-md-6
    .row
      .col-md-12
        = render partial: "users/profile/projects",          locals: { user: user, is_company: is_company }
        /= render partial: "users/profile/project_stats",     locals: { user: user }
        = render partial: "users/profile/badges",            locals: { user: user }
        = render partial: "users/profile/connections",       locals: { user: user }

= render partial: "users/resume_modal", locals: { user: user }

javascript:
  $(document).ready(function() {
    $("#hidden-photo-upload").change(function(event) {
      $("#profile-photo-form").submit();
    });

    toggleViewEdit = function(target) {
      var profile_sections = $(".profile-section");
      var view = $("#" + target + "-view");
      var edit = $("#" + target + "-edit");
      view.toggle();
      edit.fadeToggle(200);
      profile_sections.toggleClass("active-edit");
    }

    $(document).on("click", ".edit-form-button", function(event) {
      var profile_sections = $(".profile-section");
      if (profile_sections.hasClass("active-edit")) {
        return false;
      }

      var target = this.dataset.target;
      toggleViewEdit(target);
      return false;
    });

    $(document).on("click", ".edit-form-save-button", function(event) {
      var profile_sections = $(".profile-section");
      var profile_sections = $(".profile-section");
      if (!profile_sections.hasClass("active-edit")) {
        return;
      }

      profile_sections.toggleClass("active-edit");
    });

    $(document).on("click", ".edit-form-end-date-present", function(event) {
      var target = this.dataset.target;
      var things_to_hide = $("." + target + "-hide");
      things_to_hide.toggle();
    });
  });
