// Required Variables:
// quiz_id, item

- quiz = Quiz.find_by(quiz_id: quiz_id)
- unless quiz.nil?
  p.fragment
    = quiz.try(:question)
  div class="quiz_div fragment" quiz_id="#{quiz_id}"
    form class="quiz_box center" quiz_id="#{quiz_id}"
      span class="quiz_title" quiz_id="#{quiz_id}"
      input  placeholder="your answer here" type="text" class="quiz_input" quiz_id="#{quiz_id}"
      input value="Check Answer" type="button" class="quiz_submit_button btn-leada" quiz_id="#{quiz_id}" id= "#{quiz_id}"
      //= image_tag "loading.gif", class: "loading-gif", id: "waiting", quiz_id: "#{quiz_id}"
- else
  p.fragment.content-error
    ' QUIZ: missing quiz_id

javascript:
  $(document).ready(function() {
  //answer_box

  var quiz_id_selector = "[quiz_id=" +"#{quiz_id}" + "]"
   $(quiz_id_selector).keydown(function(event) { //allows 'ENTER' to submit.
        if (event.keyCode == 13) {
            $(quiz_id_selector+".quiz_submit_button").trigger('click');
            return false;
         }
    });
    $("##{quiz_id}").click(function () {
      $(quiz_id_selector+".quiz_div").removeClass("label-danger");

      $(quiz_id_selector+".quiz_div").addClass("label-warning");
      //$(quiz_id_selector+".loading-gif").css("visibility", "visible");
      var input = this;
      input.disabled = true;
      $(quiz_id_selector+".quiz_input").attr("disabled", "disabled");

      var user_input = $(quiz_id_selector+".quiz_input").val();
      var quiz_id = $(quiz_id_selector+".quiz_input").attr('quiz_id');
      var correct = false;

      var objectId = "#{item.uid}";
      var objectClass = "#{item.class}";
      var slideIndex = Reveal.getIndices().h;

      var data = JSON.stringify({
        parent_id: objectId,
        parent_type: objectClass,
        slide_id: slideIndex,
        quiz_id: quiz_id,
        user_input: user_input
      });

      $.ajax({
        url: '/quizzes/check_answer',
        type: 'POST',
        dataType: 'json',
        data: data,
        processData: false,
        contentType: "application/json; charset=utf-8",
        success: function(data) {
          var answer = data.text;
          if (answer == "correct") {
            correct = true;
          } else {
            correct = false;
            console.log(answer);
          }
        }
      });

      setTimeout(function() {
        //$(quiz_id_selector+".loading-gif").css("visibility", "hidden");
        if (correct){
          $(quiz_id_selector+".quiz_div").removeClass("label-warning");
          toastr.success("correct!");
          $(quiz_id_selector+".quiz_div").addClass("label-success");
          //$(quiz_id_selector+".eval_result").text("Correct!");
        } else {
          input.disabled = false;
          toastr.error("incorrect!");
          $(quiz_id_selector+".quiz_input").removeAttr("disabled");
          $(quiz_id_selector+".quiz_div").removeClass("label-warning");
          $(quiz_id_selector+".quiz_div").addClass("label-danger");
          //$(quiz_id_selector+".quiz_box").css("background", "red");
          //$(quiz_id_selector+".eval_result").text("Try Again");
          //$(quiz_id_selector+".eval_result").css("background-color", "red");
        }
      }, 1000);
    });
  });

