#interview-questions-sidebar {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: $background-gray;
  top: 50px;
}

.sidebar-item-wrapper {
  padding: 0 0 0 8px;
}

.sidebar-item {
  padding-top: 6px;
  padding-bottom: 6px;
}

.sidebar-item-content {
}

