$sidebar-width: 250px;

.sidebar {
  position: fixed;
  top: 50px;
  bottom: 0;
  width: $sidebar-width;
}

.left-sidebar {
  left: 0;
}

.right-sidebar {
  right: 0;
  border-left: 1px solid;
  border-left-color: #cbcbcb;
}

.main-content {
}

.main-content-left {
  margin-right: $sidebar-width;
}

#interview-questions-sidebar {
  background-color: $background-gray;
}

.sidebar-section {
  a {
    color: #333333;
    text-decoration: none;
  }
}

.sidebar-item-wrapper {
  padding: 0 0 0 8px;

  &:hover {
    background-color: #e1e2e5;
  }
}

.sidebar-item {
  padding-top: 6px;
  padding-bottom: 6px;
  border-top: 1px solid #d6d7da;
}

.sidebar-item-content {
}

