.projects-container
  .row
    - projects.each do |project|
      .col-sm-4
        = link_to project, class: "no-underline" do
          .project-container.card.project-card.large
            h3.center = project.title

/        .proj-modal class="no-hover" aria-hidden="true"
/          = link_to "", data: { toggle: "modal", target: "##{project.url}" }, onclick: "modalPageView('#{project.full_url}')", class: "no-hover" do
/            .project-circle
/              .front-text
/                h3 = project.title
/                - if signed_in?
/                  - project_status = current_user.project_status_for_project(project)
/                  - if current_user.has_finished_project?(project)
/                    span.project-completed.fa.fa-check
/                  - elsif project_status && !project_status.has_time_remaining?
/                    span.project-completed.glyphicon.glyphicon-remove.red
/                span [class="label label-#{project.difficulty_tag} difficulty-tag"]
/                  ' Difficulty -
/                  = project.difficulty
/                .clearfix
/                - if project.paid?
/                  span.label.label-success.price-tag
/                    ' Company Sponsored
/                    /= project.cost_in_dollars
/                - if !project.deadline.nil?
/                  span.label.label-success
/                    ' Time:
/                    = project.deadline_in_days
/                    |  Days
/              .info
/                 = project.short_description
/              - if project.is_new?
/                span class="label label-danger navbar-new-badge project_lable"
/                  | New!
