/ Required Variables:
/ form, user, is_editing, job_experience, base_section

= render partial: "users/profile/collection_section", locals: { \
  form: @edit_job_experience_form,
  user: user,
  is_editing: is_editing,
  base_section: "job-experience",
  collection: user.job_experiences,
  collection_name: "job_experience",
  section_title_method: "company_name",
}

