@import url(http://fonts.googleapis.com/css?family=IM+Fell+English+SC);

.pacific {
    color: #53626F;
}

.error-poem {
    font-family: 'IM Fell English SC', serif;
}

section#error-404 {
  height: 100%;
}
