$company-sidebar-width: 300px;

.company-overview {
}

.company-cover-photo-container {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  height: 400px;
}

.company-cover-photo {
  @include fill-absolute;

  background-size: cover;
  background-position: center;
}

.show-company-container {
  margin-top: -150px;
}

.company-logo-container {
  float: left;
  margin-top: 10px;
  margin-right: 65px;
}

.company-name {
  margin-top: 10px;
}

.company-logo-outside-border {
  padding: 1px;
  background: rgba(0, 0, 0, 0.3);

  @include border-radius(2px);
}

.company-logo-inner-border {
  position: relative;
  display: block;
  height: 150px;
  background-color: white;
  border: 4px solid #fff;

  @include border-radius(2px);
}

.company-page-logo {
  width: 240px;
  background: white;
  @include vertical-align-middle;
}

.company-location {
  margin-top: 15px;
}

.company-overview {
  display: table-cell;
  vertical-align: top;
  width: 10000px;

  height: 100%;
}

.company-main {
  display: table;
}

.company-show-sidebar {
  display: table-cell;
  vertical-align: top;
  min-width: $company-sidebar-width;
  width: $company-sidebar-width;

  @include breakpoint($mobile) {
    display: block;
    width: 100%;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    &.company-actions-list {
      margin-top: 12px;
    }
  }
}

.company-main-body {
  display: table-cell;
  width: 100%;
  padding-left: 20px;

  @include breakpoint($mobile) {
    display: block;
    width: 100%;
    padding-left: 0;
  }
}

.company-sidebar-link {
  padding: 12px 0;
  border-bottom: 1px solid #dadada;

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  &:first-child {
    padding-top: 0;
  }
}

