.employer-row {
  margin: 40px 0px;
}

.divider {
  width: 50%;
  height: 1px;
  background-color: #666666;
  margin: auto;
}

.sponsor-logo {
  max-width: 300px;
  max-height: 200px;
}

.icon-leadaboard-employer-offset {
  z-index: -1;
  margin-top: 30px;
}

.icon-resume-employer-offset {
  width: 140px;
  margin: 10px 30px;
}

.employer-icon {
  display: inline-block;
  font-size: 40px;
  padding: 10px 12px;
  border: 1px solid #000000;
  @include border-radius(50px);
}

.employer-column {
  margin-left: 20px;
  margin-right: 20px;
}

