.handbook-title {
  font-size: 40px;
  line-height: 50px;
}

.handbook-author-name {
  text-align: center;

  @include breakpoint($not-mobile) {
    min-height: 64px;
  }
}

.handbook-author-role {
  text-align: center;
  color: #57bcdb;
}

.handbook-author-description {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

.handbook-contributor-name {
  float: left;
}

.handbook-contributor-role {
  float: right;
}

// Author images
.handbook-image-wrapper {
  height: 150px;
}

.handbook-author-image {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;

  height: 150px;
}

.handbook-author-brian-liou {
  background-image: image-url("people/brian_liou.jpg");
}

.handbook-author-tristan-tao {
  background-image: image-url("people/tristan_tao.jpg");
}

.handbook-author-mark-miyashita {
  background-image: image-url("people/mark_miyashita.jpg");
}

.handbook-author-elizabeth-lin {
  background-image: image-url("people/elizabeth_lin.png");
}

