.handbook-title {
  font-size: 40px;
  line-height: 50px;
}

.handbook-author-name {
  text-align: center;
}

.handbook-author-role {
  text-align: center;
  color: #57bcdb;
}

.handbook-author-description {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

.handbook-contributor-name {
  float: left;
}

.handbook-contributor-role {
  float: right;
}

