.main {
  section#intro {
    background-image: asset-url("assets/R_desk_medium.jpg");
    background-size: cover;
    background-position-y: -260px;
    background-position-x: -120px;
    background-repeat: no-repeat;
    background-size: 110%;

    .about-intro {
      padding: 300px 0;

      .title-container {
        border-radius: 35px;
        border-color: white;
        border-style:solid;
        border-width: 3px;
        background-color: #2d637f;
        opacity: 0.9;
        width: 300px;
        margin: auto;
        padding: 32px;

        h1 {
          font-size: 72px;
        }

        h3 {
          font-size: 36px;
        }

        h1, h2, h3, h4, h5 {
          font-weight: 700;
        }
      }
    }
  }

  section#about {
    background-color: $about-bg;

    .attention-grabber {
      padding: 100px 0;
    }
  }

  section {
    .about-section {
      padding: 100px 0;
      margin: 0 auto;
      content: "";
      display: table;
      max-width: 1000px;
      width: 100%;

      .description {
        line-height: 1.8em;
        position: relative;
        height: 100%;
        float: left;
        width: 50%;
      }

      .image { /*For the background up top*/
        float: right;
        width: 33.33333333333333%;
        margin-left: 16.666666666666664%;
        padding-top: 50px;
        display: inline;
      }
    }
  }

  section#content-one,
  section#content-three {
    background-color: $content-bg;

    .content-body-three,
    .content-body-one {
      margin-top: 50px;
    }
    .image {
      margin-top: -50px;
    }
  }

  section#content-zero,
  section#content-two,
  section#content-four {
    background-color: $learning-bg;
    .content-body-two {
      margin-top: 50px;
    }

    .about-section {
      .description {
        float: right;
        margin-left: 16.666666666666666664%;
      }

      .image { /*Second Icon down*/
        margin-top: -50px;
        float: left;
        margin-left: 0;
      }
    }
  }

  section#email {
    background-color: $email-bg;

    .schedule-container {
      padding: 100px 0;
    }
  }

  section#try-project {
    background-color: $try-project-bg;

    .try-project-container {
      padding: 100px 0;
    }
  }
}
