.main {
  section#intro {
    background-image: asset-url("assets/R_desk_medium.jpg");
    background-size: cover;
    background-position-y: -260px;
    background-position-x: -120px;
    background-repeat: no-repeat;
    background-size: 110%;

    .about-intro {
      padding: 300px 0;

      .title-container {
        border-radius: 10px;
        border-color: $founders-rock-blue;
        border-style:solid;
        border-width: 3px;
        background-color: $medium-gray;
        opacity: 0.95;
        width: 250px;
        margin: auto;
        padding: 26px;

        .try-button {
          display: inline-block;
          border: 0;
          text-shadow: none;
          -moz-background-clip: padding;
          -webkit-background-clip: padding-box;
          background-clip: padding-box;
          color: $founders-rock-blue;
          text-transform: capitalize;
          top: 0;
          font-size: 26px;
        }
        .try-button:hover {
          color: white;
        }



        h1 {
          font-size: 72px;
        }

        h3 {
          font-size: 36px;
        }

        h1, h2, h3, h4, h5 {
          font-weight: 700;
        }
      }
    }
  }

  section#about {
    background-color: $about-bg;

    .attention-grabber {
      padding: 100px 0;
    }
  }

  section {
    .about-section {
      padding: 100px 0;
      margin: 0 auto;
      content: "";
      display: table;
      max-width: 1000px;
      width: 100%;

      .description {
        line-height: 1.8em;
        position: relative;
        height: 100%;
        float: left;
        width: 50%;
      }

      .image { /*For the background up top*/
        float: right;
        width: 33.33333333333333%;
        margin-left: 16.666666666666664%;
        padding-top: 50px;
        display: inline;
      }
    }
  }

  section#content-one,
  section#content-three {
    background-color: $content-bg;

    .content-body-three,
    .content-body-one {
      margin-top: 50px;
    }
    .image {
      margin-top: -50px;
    }
  }

  section#content-zero,
  section#content-two,
  section#content-four {
    background-color: $learning-bg;


    .content-body-two,
    .content-body-four {
      margin-top: 50px;
    }

    .about-section {
      .description {
        float: right;
        margin-left: 16.666666666666666664%;
      }

      .image { /*Second Icon down*/
        margin-top: -50px;
        float: left;
        margin-left: 0;
      }
    }
  }

  section#email {
    background-color: $email-bg;

    .schedule-container {
      padding: 100px 0;
    }
  }

  section#try-project {
    background-color: $try-project-bg;

    .try-project-container {
      padding: 100px 0;
    }
  }

  .hal_quote {
    color: gray;
    margin-top: 15px;
    font-family: Lusitana Bold;
    font-size: 25px;
  }
  .hal_sig{
    margin-top: 5px;
    font-family: Lusitana Bold;
    font-size: 25px;
    float: right;
  }

}
