p.content {
  font-size: 18px;
}

.content-text {
  display: none;
}

.content-code {
  display: none;
}

.content-image {
  display: none;
  max-height: 900px;
  max-width: 900px;
}

.content-link {
  display: none;
}

.individual-step {
  display: none;
}
