// Project Colors
.project-color-red {
  background-color: #A63535;
}

.project-color-green {
  background-color: #5D9149;
}

.project-color-blue {
  background-color: #495D91;
}

.project-color-purple {
  background-color: #613C78;
}

.projects-container {
}

.project-card-container {
  margin-top: 15px;
}

.project-card {
  @include transition-ease-in-out(200ms);

  &.extra-large {
    height: 200px;
  }

  &.large {
    height: 150px;

    h1 {
      font-size: 24px;
    }
  }

  &.medium {
    height: 100px;

    h1 {
      font-size: 22px;
    }
  }

  &.small {
    height: 50px;

    h1 {
      font-size: 18px;
    }
  }

  &:hover:after {
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    bottom: 10px;

    background: #000000;
    opacity: 0.1;
    content: " ";

    @include border-radius(3px);
  }
}

.featured-project-title {
  color: white;
}

.project-title-row {
  // Not sure why this is happening. It has a weird transition when it's in the
  // iPad-like screen size.
  @include breakpoint($ipad-screen) {
    width: 100%;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.project-card-colored {
  color: white;

  a {
    color: white;
  }
}

.project-card-white {
  color: #333333;

  a {
    color: #333333;
  }
}

.project-info {
  text-align: center;
  margin-bottom: 50px;
}

.project-footer {
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 10px;

  padding: 10px;
}

