.question-container {
  background-color: #e9eaed;
  margin: 10px 0px;

  .up-votes-container {
    padding: 30px;
    border-right: 1px solid white;
    display: inline-block;

    .up-vote-button {
      margin-right: 10px;
    }
  }

  .question-text-container {
    display: inline-block;
    margin-left: 30px;
    margin-top: 30px
  }

  .question-posted {
    margin-top: 10px;

    p {
      margin: 0;
    }
  }

}
