.profile-section {
}

.profile-section-header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dadada;

  h3 {
    display: inline;
  }

  span.edit-section {
    float: right;
  }
}

.profile-section-view {
  margin-top: 10px;
  margin-bottom: 10px;
}

