.footer {
  background-color: $founders-rock-blue;
  padding: 30px;
  color: white;

  p {
    margin: 0;
  }

  .heap-analytics {
    text-align: right;
    position: relative;
    right: 0;
    bottom: 30px;
    float: right;
  }
}

