.footer {
  background-color: $founders-rock-blue;
  padding: 30px;
  color: white;

  p {
    margin: 0;
  }
}
.heap-analytics {
  text-align: right;
  position: relative;
  margin-right: 10px;
  right: 10;
  bottom: 75px;
  float: right;
}
.facebook {
  position: relative;
  bottom: 58px;
}

.twitter {
  position: relative;
  left: 15px;
}