html, body {
  height: 100%;
}

body {
  font-family: 'open sans';
  -webkit-font-smoothing: antialiased;
  padding-top: 70px;

  @include breakpoint($mobile) {
    padding-top: 0px;
  }
}

#page-container {
  height: 100%;
}

.container {
  min-height: 95%;
}

.center {
  text-align: center;
}

.white {
  color: white;
}

.dark-link {
  color: rgba(0,0,0,0.85);
  text-decoration: none;
  font-weight: bold;
}

.light-link {
  color: $light-gray;
}

.underline {
  text-decoration: underline;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
}

.title {
  padding-bottom: 10px;
  border-bottom: 1px solid $medium-gray;
  margin-bottom: 30px;
}

#typed-cursor {
  opacity: 1;
  font-weight: 100;
  animation: blink 0.7s infinite;
}

@-keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

.left {
  float: left;
}

.right {
  float: right;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}
