html, body {
  height: 100%;
}

body {
  font-family: 'open sans';
  -webkit-font-smoothing: antialiased;

  @include breakpoint($mobile) {
    padding-top: 0px;
  }
}

#page-container {
  height: 100%;
}

.container.full-container {
  min-height: 95%;
}

.flash-container {
  margin-top: 20px;
}

.banner-image {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  img {
    width: 100%;
  }
}

#header {
  position: relative;
}

.title-wrapper {
  padding: 20px 80px 40px;

  .title-inner {
    max-width: 60%;

    h1.page-title {
      font-size: 8em;
      font-weight: 700;
      color: $founders-rock-blue;
      letter-spacing: -3px;
    }
  }
}

.img {
  background-color: $founders-rock-blue;
}

#projects-container {
  padding: 50px;

  .row {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .front-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    h3 {
      color: #fff;
      text-transform: uppercase;
      position: relative;
      letter-spacing: 2px;
      font-size: 16px;
      margin: 0 30px;
      padding: 80px 0 0 0;
      height: 110px;
      text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
    }
  }

  .ih-item.circle.effect13 .info p {
    border: none;
    height: 90%;
    overflow-y: hidden;
  }
}

.email-form {
  margin-top: 100px;
}

.alert {
  margin-bottom: 0px;
  text-align: center;
}

.large-font {
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}

.center {
  text-align: center;
}

.white {
  color: white;
}

.dark-link {
  color: rgba(0,0,0,0.85);
  text-decoration: none;
  font-weight: bold;
}

.light-link {
  color: $light-gray;
}

.underline {
  text-decoration: underline;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
}

.title {
  padding-bottom: 10px;
  border-bottom: 1px solid $medium-gray;
  margin-bottom: 30px;
}

#typed-cursor {
  opacity: 1;
  font-weight: 100;
  animation: blink 0.7s infinite;
}

@-keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

.left {
  float: left;
}

.right {
  float: right;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.reveal .slides section .fragment {
  font-size: 70%;
}

.content-error {
  color: red;
  background: lightgray;
  box-shadow: 10px 10px 5px #888888;
}
