/*
 *= require reveal-theme/simple
 */

@import "reveal";

@import "primary/primary";

@import "sidebar";
@import "reveal_overrides";

.project-deadline-countdown {
  position: absolute;
  top: 70px;
  right: 70px;
  width: 250px;
  z-index: 1;
}

.non-project-page-countdown {
  padding-top: 10px;
}

