/*
 *= require reveal-theme/simple
 */

@import "reveal";
@import "mixins";

@import "primary/basecoat/colors";
@import "primary/basecoat/config";
@import "primary/basecoat/base";

@import "buttons";
@import "sidebar";
@import "reveal_overrides";

.project-deadline-countdown {
  position: absolute;
  top: 70px;
  right: 70px;
  width: 250px;
}

.non-project-page-countdown {
  padding-top: 10px;
}

