// Place all the styles related to the quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.loading-gif {
    background-color: white;
    position: relative;
    left: 75%;
    top: 15%;
    float: left;
    z-index:1234;
    overflow: auto;
    visibility: hidden;
}

.quiz_form { /*the whole form */
    margin: auto;
    padding: auto;
}

span[class="quiz_title"] { /*title of the quiz*/

}
.quiz_input { /*Where the user inputs the answer*/

}

.quiz_button { /*the button to submit the answer */
    display: inline-block;
    top: 100px;
    border: 0;
    text-shadow: none;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    //color: #FFF;
    color: $founders-rock-blue;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}

span.eval_result { /*Span for the result of checking answer*/
    margin: auto;
    padding-left: 100;
    font-size: 100px;
    background-color: "red";
}

span[class="eval_result"] { /*Span for the result of checking answer*/
        margin: auto;
        padding-left: 10;
        font-size: 25px;
}

/*Loading Below*/
/*Loading Below*/
/*Loading Below*/

#circularG{
    position:relative;
    width:45px;
    height:45px
}

.circularG{
    position:absolute;
    background-color:#2D637F;
    width:10px;
    height:10px;
    -moz-border-radius:7px;
    -moz-animation-name:bounce_circularG;
    -moz-animation-duration:0.4s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -webkit-border-radius:7px;
    -webkit-animation-name:bounce_circularG;
    -webkit-animation-duration:0.4s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -ms-border-radius:7px;
    -ms-animation-name:bounce_circularG;
    -ms-animation-duration:0.4s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -o-border-radius:7px;
    -o-animation-name:bounce_circularG;
    -o-animation-duration:0.4s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    border-radius:7px;
    animation-name:bounce_circularG;
    animation-duration:0.4s;
    animation-iteration-count:infinite;
    animation-direction:linear;
}

#circularG_1{
    left:0;
    top:18px;
    -moz-animation-delay:0.15s;
    -webkit-animation-delay:0.15s;
    -ms-animation-delay:0.15s;
    -o-animation-delay:0.15s;
    animation-delay:0.15s;
}

#circularG_2{
    left:5px;
    top:5px;
    -moz-animation-delay:0.2s;
    -webkit-animation-delay:0.2s;
    -ms-animation-delay:0.2s;
    -o-animation-delay:0.2s;
    animation-delay:0.2s;
}

#circularG_3{
    top:0;
    left:18px;
    -moz-animation-delay:0.25s;
    -webkit-animation-delay:0.25s;
    -ms-animation-delay:0.25s;
    -o-animation-delay:0.25s;
    animation-delay:0.25s;
}

#circularG_4{
    right:5px;
    top:5px;
    -moz-animation-delay:0.3s;
    -webkit-animation-delay:0.3s;
    -ms-animation-delay:0.3s;
    -o-animation-delay:0.3s;
    animation-delay:0.3s;
}


#circularG_5{
    right:0;
    top:18px;
    -moz-animation-delay:0.35s;
    -webkit-animation-delay:0.35s;
    -ms-animation-delay:0.35s;
    -o-animation-delay:0.35s;
    animation-delay:0.35s;
}

#circularG_6{
    right:5px;
    bottom:5px;
    -moz-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
    -ms-animation-delay:0.4s;
    -o-animation-delay:0.4s;
    animation-delay:0.4s;
}

#circularG_7{
    left:18px;
    bottom:0;
    -moz-animation-delay:0.45s;
    -webkit-animation-delay:0.45s;
    -ms-animation-delay:0.45s;
    -o-animation-delay:0.45s;
    animation-delay:0.45s;
}

#circularG_8{
    left:5px;
    bottom:5px;
    -moz-animation-delay:0.5s;
    -webkit-animation-delay:0.5s;
    -ms-animation-delay:0.5s;
    -o-animation-delay:0.5s;
    animation-delay:0.5s;
}

@-moz-keyframes bounce_circularG{
    0%{
        -moz-transform:scale(1)}

    100%{
        -moz-transform:scale(.3)}

}

@-webkit-keyframes bounce_circularG{
    0%{
        -webkit-transform:scale(1)}

    100%{
        -webkit-transform:scale(.3)}

}

@-ms-keyframes bounce_circularG{
    0%{
        -ms-transform:scale(1)}

    100%{
        -ms-transform:scale(.3)}

}

@-o-keyframes bounce_circularG{
    0%{
        -o-transform:scale(1)}

    100%{
        -o-transform:scale(.3)}

}

@keyframes bounce_circularG{
    0%{
        transform:scale(1)}

    100%{
        transform:scale(.3)}
}
