// Place all the styles related to the quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.loading-gif {
    position: relative;
    left: 75%;
    top: 15%;
    float: left;
    z-index:1234;
    overflow: auto;
    visibility: hidden;
}

.quiz_form { /*the whole form */
    margin: auto;
    padding: auto;
}

span[class="quiz_title"] { /*title of the quiz*/

}
.quiz_input { /*Where the user inputs the answer*/

}

.quiz_button { /*the button to submit the answer */
  display: inline-block;
  top: 100px;
  border: 0;
  text-shadow: none;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #FFF;
  background-color: $founders-rock-blue;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}

span[class="eval_result"] { /*Span for the result of checking answer*/
    margin: auto;
    padding-left: 10;
    font-size: 25px;
}

/*Not Yet Used Below*/
.correct {

}

.wrong {

}

.evaluating {

}
