.reveal a.flat-button {
  padding: 15px 60px;
  margin: 15px 0;
}

.reveal a.flat-button:not(.image) {
  color: white;
}

.reveal a.flat-button:not(.image):hover {
  color: white;
  text-decoration: underline;
}
