#right-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 50px;
  height: 100%;
  padding-top: 70px;
  background: $founders-rock-blue;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow-y: scroll;
}

.right-sidebar-title {
  margin: 20px;
}

.submit-button-container {
  position: relative;
}

#code-submit-button {
  position: absolute;
  right: 20px;
  bottom: 54px;
  z-index: 2;
}

#close-code-button {
  position: absolute;
  right: 20px;
  bottom: 54px;
  z-index: 2;
}
