.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 300px;
  height: 100%;
  padding-top: 70px;
  background: $founders-rock-blue;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow-y: scroll;

  @include breakpoint($medium-screen) {
    width: 250px;
  }

  @include breakpoint($small-screen) {
    width: 200px;
  }
}

.sidebar-title {
  margin: 20px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  padding: 0;
}

.sidebar a:hover {
  text-decoration: underline;
}

.sidebar-lessons {
  margin-top: 30px;
}

.sidebar-lesson,
.sidebar-step,
.sidebar-next-step {
  padding: 10px 0px 10px 0px;
  line-height: 1.2em;

  &:hover {
    background-color: $light-blue;
  }
}

.sidebar-lesson {
  padding-left: 20px;
}

.sidebar-step {
  padding-left: 40px;
}

.sidebar-next-step {
  padding-left: 60px;
}

.sidebar ul {
  list-style: none;
  padding: 0px;
}

.completed-item {
}

.sidebar-active {
  background-color: $light-blue;
}

.disabled {
  color: #dddddd;
  opacity: 0.5;
}

.fa {
  display: block;
}

.fa:before {
  margin-right: 5px;
}
