.fade-from-in {
  visibility: hidden;
  opacity: 0;
}
.slide-from-up, .slide-from-right, .slide-from-left {
  visibility: hidden;
}
.slide-up, .slide-right, .slide-left {
  transition: transform 0.8s ease;
  -webkit-transition: -webkit-transform 0.8s ease;
  -moz-transition: -moz-transform 0.8s ease;
  -ms-transition: -ms-transform 0.8s ease;
  -o-transition: -o-transform 0.8s ease;
  visibility: visible;
}
.fade-in {
  opacity: 1;
  transition: opacity 1.5s linear;
  visibility: visible;
}
.slide-up {
  -webkit-transform: translate3d(0, -200%, 0px);
  -moz-transform: translate3d(0, -200%, 0px);
  -ms-transform: translate3d(0, -200%, 0px);
  -o-transform: translate3d(0, -200%, 0px);
  transform: translate3d(0, -200%, 0px);
}
.slide-right {
  -webkit-transform: translate3d(200%, 0, 0px);
  -moz-transform: translate3d(200%, 0, 0px);
  -ms-transform: translate3d(200%, 0, 0px);
  -o-transform: translate3d(200%, 0, 0px);
  transform: translate3d(200%, 0, 0px);
}
.slide-left {
  -webkit-transform: translate3d(-200%, 0, 0px);
  -moz-transform: translate3d(-200%, 0, 0px);
  -ms-transform: translate3d(-200%, 0, 0px);
  -o-transform: translate3d(-200%, 0, 0px);
  transform: translate3d(-200%, 0, 0px);
}

@media (max-width: 568px) {
  .slide-left, .slide-left, .slide-left .fade-in {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
  }
}




